.img1{
    width: 9rem;
    height: 5rem;
    position: absolute;
    bottom: -3rem;
    left: 2rem;
}

.img2 {
    width: 7rem;
    height: 7rem;
    position: absolute;
    bottom: -4rem;
    left: 11rem;
}

.inicio{
    font-family:'Courier New', Courier, monospace;
    font:oblique;
    font-size: 1,2rem;
    font-style:oblique bold;
    font-weight:bold;
    color: black;
    position: relative;
    bottom: -5rem;
    left: 19rem;
}

    .personajes{
    font-family:'Courier New', Courier, monospace;
    font:oblique;
    font-size: 1,2rem;
    font-style:oblique bold;
    font-weight:bold;
    color: black;
    position: relative;
    bottom: -5rem;
    left: 1rem;
    }

    .historia{
        font-family:'Courier New', Courier, monospace;
        font:oblique;
        font-size: 1,2rem;
        font-style:oblique bold;
        font-weight:bold;
        color: black;
        position: relative;
        bottom: -5rem;
        right: 16.2rem;
        }

.btn1{
    position: relative;
    bottom: -5rem;
}

.btn2{
    position: relative;
    bottom: -5rem;
}

.container-fluid{
    background-image: url(../assets/img/simpson/cielo.jpg);
}