<!--BOTONERA-->
<div><button type="button" class="btn btn-primary">NECESITO</button>
  <button type="button" class="btn btn-secondary">LOS</button>
  <button type="button" class="btn btn-success">APUNTES</button>
  <button type="button" class="btn btn-danger">PRIMER</button>
  <button type="button" class="btn btn-warning">AVISO</button>
  <button type="button" class="btn btn-info">DE</button>
  <button type="button" class="btn btn-light">JUNIOR</button>
  <button type="button" class="btn btn-dark">ENFADADO</button>

  <button type="button" class="btn btn-link">Link</button></div>

<!--FIN BOTONERA-->