<!--BARRA SUP-->
<div class="barra-sup text-color">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Personajes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Historia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Más sobre Los Simpson</a>
        </li>
    </ul>
            <img class="logo-principal" src="../assets/img/simpson/logo.png" alt="">
</div>
<!--BARRA SUP-->

<!--IMAGEN-->
<div class="row">
    <div class="col-12 col-md-3 mx-auto text-center">
        <img class="img-1" src="../assets/img/simpson/sofasimpson.png" alt="">
        <img class="img-2" src="../assets/img/simpson/logo.png" alt="">
        <p>Comienza la aventura!!!</p>
</div>
<!--IMAGEN-->