.card-body {background-color: rgb(208, 255, 0);}
.card {border: 0px;}
.btn-primary {position: relative; left: 43%;}
.video-youtube {text-align: center;}
.fondopageup {background: ‪"CURSO ALE/cursoDev_layout/photo/1.jfif";}