//VARIABLES DE COLOR
$color-primary: rgb(0, 0, 0);
$color-secundary: rgb(255, 0, 0);
$color-tres: white;
$color-coke:  #fe0410;
$text-color: black;
$bordes: rgb(255, 0, 0);

//CONTENEDOR-1
.contenedor-1{
    opacity: 99%;
    background-color: white;
    box-shadow: 0px 0px 20px $color-coke;

    .logo-principal{
        width: 6rem;
    }

    
    .centrar-logo{
        display: block;
        margin: auto;
    }
    .logo-central{
        width: 7rem;
    }
}
//END CONTENEDOR-1


//CONTENEDOR-2

.fondo-coke{
    
    background-image: url(../assets/img/cocacola/lata-coke.jpg);
    background-position: center;
    background-size: 100% cover;
    background-repeat: no-repeat;

    .img-logo-lata{
        width: 10rem;

        float: right;
        padding:2rem;
    }

    .btn-primary{
        background-color: #fe0410;
        border: #fe0410;
        float: right;
        margin: 30px;
    }

    .texto{
        font-size: 2.5rem;
        text-align: end;
    }

    .texto-1{
        text-align: left;
    }
}

.fondo-coke-2{
    background-image: url(../assets/img/cocacola/light.png);
    background-position: center;
    background-size: 100% cover;
    background-repeat: no-repeat;

}





